#map-space {
    position: absolute;
    top: -60px;
    left: -60px;
    /* background-color: #729e78; */
    display: grid;
    grid-template-columns: repeat(31, 60px);
    grid-template-rows: repeat(15, 60px);
    gap: 0;
    /* overflow: hidden; */
    z-index: 0;
}

.pathSpace {
    position: relative;
    display: grid;
    width: 60px;
    height: 60px;
    grid-template-columns: repeat(3, 20px);
    grid-template-rows: repeat(3, 20px);
    box-sizing: content-box;
    user-select: auto;
    color: inherit;
    gap: 0;
    padding: 0;
}

.cellUnit {
    /* width: 20px;
    height: 20px; */
    background-color: #a4c480;
    justify-content: center;
    gap: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    user-select: none;
    color: inherit;
    text-align: center;
    overflow: hidden;
}

#map-space>.pathSpace::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 9, 9, 0.5);
    pointer-events: none;
}

#map-space>.pathSpace.placed::after {
    content: none;
    /* Remove the pseudo-element */
}

.shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.resourceBox {
    padding: 10px;
    border-radius: 10px;
}

.resourceBox>div {
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    width: 30px;
}

/* const COLORS = Object.freeze(['#7B93AB', '#73B7FF', '#A09A44', '#496643', 'burlywood']);
const TEXTCOLOR = Object.freeze(['black', '#4e4cff', 'black', 'black', 'black']);
const ELEMENTS = Object.freeze(['ᨒ', '𖦹', '෴', '𖣂', '☐']); */
.mountains {
    background-color: #7B93AB;
    content: "ᨒ";
}

.whirlpool {
    background-color: #73B7FF;
    content: '𖦹';
    text-align: center;
    justify-content: center;
}

.meadow {
    background-color: #A09A44;
    content: '෴';
    text-align: center;
    justify-content: center;
}

.forest {
    background-color: #496643;
    content: '𖣂';
    text-align: center;
    justify-content: center;
    color: whitesmoke;
}