#map-space {
    position: absolute;
    top: -60px;
    left: -60px;
    /* background-color: #729e78; */
    display: grid;
    grid-template-columns: repeat(31, 60px);
    grid-template-rows: repeat(15, 60px);
    gap: 0;
    /* overflow: hidden; */
    z-index: 0;
}

.pathSpace {
    position: relative;
    display: grid;
    width: 60px;
    height: 60px;
    grid-template-columns: repeat(3, 20px);
    grid-template-rows: repeat(3, 20px);
    box-sizing: content-box;
    user-select: auto;
    color: inherit;
    gap: 0;
    padding: 0;
}

.cellUnit {
    /* width: 20px;
    height: 20px; */
    background-color: #a4c480;
    justify-content: center;
    gap: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    user-select: none;
    color: inherit;
    text-align: center;
    overflow: hidden;
}

#map-space>.pathSpace::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 9, 9, 0.5);
    pointer-events: none;
}

#map-space>.pathSpace.placed::after {
    content: none;
    /* Remove the pseudo-element */
}

.shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}